spring:
  application:
    name: payment-service

grpc:
  server:
    port: 9091

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always
